### Assignmnet on MLR Model : Task 1: Exploratory Data Analysis (EDA)
### Import necessary libraries

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.graphics.regressionplots import influence_plot
import statsmodels.formula.api as smf
import numpy as np

### Load the dataset into notebook

In [11]:
df = pd.read_csv("ToyotaCorolla.csv")

In [12]:
df.head()

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
0,13500,23,46986,Diesel,90,0,2000,3,4,5,1165
1,13750,23,72937,Diesel,90,0,2000,3,4,5,1165
2,13950,24,41711,Diesel,90,0,2000,3,4,5,1165
3,14950,26,48000,Diesel,90,0,2000,3,4,5,1165
4,13750,30,38500,Diesel,90,0,2000,3,4,5,1170

In [13]:
df.shape

(1436, 11)

In [14]:
df.dtypes

Price         int64
Age_08_04     int64
KM            int64
Fuel_Type    object
HP            int64
Automatic     int64
cc            int64
Doors         int64
Cylinders     int64
Gears         int64
Weight        int64
dtype: object

In [15]:
df.isna().sum()

Price        0
Age_08_04    0
KM           0
Fuel_Type    0
HP           0
Automatic    0
cc           0
Doors        0
Cylinders    0
Gears        0
Weight       0
dtype: int64

In [16]:
# As i encountered Fuel_Type as object , so converting that into float for correlation 
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()
df[['Fuel_Type']] = ordinal_encoder.fit_transform(df[['Fuel_Type']])

In [17]:
df.dtypes

Price          int64
Age_08_04      int64
KM             int64
Fuel_Type    float64
HP             int64
Automatic      int64
cc             int64
Doors          int64
Cylinders      int64
Gears          int64
Weight         int64
dtype: object

### Summary statistics and visualizations

In [ ]:

print(df.describe())

# Correlation matrix
corr_matrix = df.corr()
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', square=True)
plt.show()

# Histograms for numerical variables
df.hist(bins=50, figsize=(10,15))
plt.show()

              Price    Age_08_04             KM    Fuel_Type           HP  \
count   1436.000000  1436.000000    1436.000000  1436.000000  1436.000000
mean   10730.824513    55.947075   68533.259749     1.868384   101.502089
std     3626.964585    18.599988   37506.448872     0.371572    14.981080
min     4350.000000     1.000000       1.000000     0.000000    69.000000
25%     8450.000000    44.000000   43000.000000     2.000000    90.000000
50%     9900.000000    61.000000   63389.500000     2.000000   110.000000
75%    11950.000000    70.000000   87020.750000     2.000000   110.000000
max    32500.000000    80.000000  243000.000000     2.000000   192.000000

         Automatic           cc        Doors  Cylinders        Gears  \
count  1436.000000   1436.00000  1436.000000     1436.0  1436.000000
mean      0.055710   1576.85585     4.033426        4.0     5.026462
std       0.229441    424.38677     0.952677        0.0     0.188510
min       0.000000   1300.00000     2.000000        4.0     3.000000
25%       0.000000   1400.00000     3.000000        4.0     5.000000
50%       0.000000   1600.00000     4.000000        4.0     5.000000
75%       0.000000   1600.00000     5.000000        4.0     5.000000
max       1.000000  16000.00000     5.000000        4.0     6.000000

           Weight
count  1436.00000
mean   1072.45961
std      52.64112
min    1000.00000
25%    1040.00000
50%    1070.00000
75%    1085.00000
max    1615.00000

### Pre-processing for MLR

In [21]:
# Checking for null values again ,if any missing values still present, replace with "Mean'
df.fillna(df.mean(), inplace=True)

In [22]:
df.describe()

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,1436.000000,1436.0,1436.000000,1436.00000
mean,10730.824513,55.947075,68533.259749,1.868384,101.502089,0.055710,1576.85585,4.033426,4.0,5.026462,1072.45961
std,3626.964585,18.599988,37506.448872,0.371572,14.981080,0.229441,424.38677,0.952677,0.0,0.188510,52.64112
min,4350.000000,1.000000,1.000000,0.000000,69.000000,0.000000,1300.00000,2.000000,4.0,3.000000,1000.00000
25%,8450.000000,44.000000,43000.000000,2.000000,90.000000,0.000000,1400.00000,3.000000,4.0,5.000000,1040.00000
50%,9900.000000,61.000000,63389.500000,2.000000,110.000000,0.000000,1600.00000,4.000000,4.0,5.000000,1070.00000
75%,11950.000000,70.000000,87020.750000,2.000000,110.000000,0.000000,1600.00000,5.000000,4.0,5.000000,1085.00000
max,32500.000000,80.000000,243000.000000,2.000000,192.000000,1.000000,16000.00000,5.000000,4.0,6.000000,1615.00000

### Task 2 : # Split dataset into training and testing sets

In [24]:
# Split dataset into training and testing sets
X = df.drop('Price', axis=1)
y = df['Price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'train_test_split' is not defined

### Task 3: Build multiple linear regression models

In [ ]:
# Create and fit model
model1 = LinearRegression()
model1.fit(X_train, y_train)

# Print coefficients
print("Model 1 Coefficients:", model1.coef_)

In [ ]:
# Model 1: Simple Multiple Linear Regression
model1 = LinearRegression()
model1.fit(X_train, y_train)
y_pred1 = model1.predict(X_test)
print("Model 1 Coefficients:", model1.coef_)
print("Model 1 Intercept:", model1.intercept_)
print("Model 1 MSE:", mean_squared_error(y_test, y_pred1))
print("Model 1 R2:", r2_score(y_test, y_pred1))

In [ ]:
# Model 2: Multiple Linear Regression with Interaction Terms
from sklearn.preprocessing import PolynomialFeatures
poly_features = PolynomialFeatures(degree=2)
X_train_poly = poly_features.fit_transform(X_train)
model2 = LinearRegression()
model2.fit(X_train_poly, y_train)
y_pred2 = model2.predict(poly_features.transform(X_test))
print("Model 2 Coefficients:", model2.coef_)
print("Model 2 Intercept:", model2.intercept_)
print("Model 2 MSE:", mean_squared_error(y_test, y_pred2))
print("Model 2 R2:", r2_score(y_test, y_pred2))

In [ ]:
# Model 3: Multiple Linear Regression with Polynomial Terms
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
model3 = LinearRegression()
model3.fit(X_train_scaled, y_train)
y_pred3 = model3.predict(scaler.transform(X_test))
print("Model 3 Coefficients:", model3.coef_)
print("Model 3 Intercept:", model3.intercept_)
print("Model 3 MSE:", mean_squared_error(y_test, y_pred3))
print("Model 3 R2:", r2_score(y_test, y_pred3))

### Task 4 : Evalution of performance of the model using Evaluation metrix on dataset testing:

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, median_absolute_error
from sklearn.preprocessing import PolynomialFeatures, StandardScaler

In [ ]:
print("Model 1 Metrics:")
print("MSE:", mean_squared_error(y_test, y_pred1))
print("RMSE:", mean_squared_error(y_test, y_pred1)**0.5)
print("MAE:", mean_absolute_error(y_test, y_pred1))
print("MedAE:", median_absolute_error(y_test, y_pred1))
print("R2:", r2_score(y_test, y_pred1))

In [ ]:
print("\nModel 2 Metrics:")
print("MSE:", mean_squared_error(y_test, y_pred2))
print("RMSE:", mean_squared_error(y_test, y_pred2)**0.5)
print("MAE:", mean_absolute_error(y_test, y_pred2))
print("MedAE:", median_absolute_error(y_test, y_pred2))
print("R2:", r2_score(y_test, y_pred2))

In [ ]:
print("\nModel 3 Metrics:")
print("MSE:", mean_squared_error(y_test, y_pred3))
print("RMSE:", mean_squared_error(y_test, y_pred3)**0.5)
print("MAE:", mean_absolute_error(y_test, y_pred3))
print("MedAE:", median_absolute_error(y_test, y_pred3))
print("R2:", r2_score(y_test, y_pred3))

### Task 5 : LassoRegression :

In [ ]:
from sklearn.linear_model import Lasso
lasso_model = Lasso(alpha=0.1)
lasso_model.fit(X_train, y_train)

# Print coefficients
print("Lasso Coefficients:", lasso_model.coef_)

###  Ridge Regression

In [ ]:
from sklearn.linear_model import Ridge
ridge_model = Ridge(alpha=0.1)
ridge_model.fit(X_train, y_train)

# Print coefficients
print("Ridge Coefficients:", ridge_model.coef_)

### Conclusion and some of the assumptions and their implications related to the Multiple Linear Regression (MLR) model

In [ ]:


Assumptions:
Linearity: The relationship between each independent variable and the dependent variable is linear.
Implication: Non-linear relationships may not be captured accurately.
Independence: Each observation is independent of the others.

Implication: Violations may lead to inaccurate standard errors and hypothesis tests.
Homoscedasticity: Constant variance of residuals across all levels of the independent variables.
Implication: Non-constant variance may affect hypothesis tests and confidence intervals.

Normality: Residuals follow a normal distribution.
Implication: Non-normal residuals may affect hypothesis tests and confidence intervals.
No multicollinearity: Independent variables are not highly correlated with each other.

Implication: Multicollinearity can lead to unstable estimates and inflated variance.
No autocorrelation: Residuals are not correlated with each other.

Implications for our MLR model:
Model interpretability: Assumptions affect the accuracy and reliability of model interpretations.
Prediction accuracy: Violations can lead to poor predictive performance.
Hypothesis testing: Assumptions affect the validity of hypothesis tests and confidence intervals.
Mitigation strategies for our MLR model:
Data transformation: Address non-linearity and non-normality.
Variable selection: Reduce multicollinearity.
Robust standard errors: Account for heteroscedasticity and autocorrelation.
Influential outlier detection: Identify and address influential data points.
Model validation: Verify assumptions and model performance using diagnostics and metrics.